/* Rör ej */
* { box-sizing: border-box; }
body {
  min-height: 100%;
  margin: 0;
  background-color: #f00;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
}
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section:nth-child(even) { background-color: #000; }

/* Koda nedanför */

.splashLeft {
  transform: translateX(-200px);
  transition: all 1.2s ease-out;
}
.splashRight {
  transform: translateX(200px);
  transition: all 1.2s ease-out;
}

.splashVisible {
  opacity: 1;
  transform: translateX(0);
}