/* Rör ej */
* { box-sizing: border-box; }
body {
  min-height: 100%;
  margin: 0;
  background-color: #f00;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
}
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section:nth-child(even) { background-color: #000; }

/* Koda nedanför */

/* Coca Cola Zero */
#cc-zero {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr repeat(3,1fr);
  align-items: center;
  justify-items: center;
}
.cc-zero-text {
 padding: 2em;
 font-size: 1.5em;
 text-align: center;
}
.cc-zero-text img { max-width: 100%; }
.cc-zero-img {
  max-height: 100%;
  max-width: 90%;
  opacity: 0;
}
.cc-zero-chr {opacity:0}

/* Kontakt */
#contact { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
  width: 100vw;
  overflow: hidden;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  transform: translateX(50vw);
}
.contact-form input,.contact-form textarea {
  margin-bottom: 0.75em;
  border: 1px solid #ccc;
}
.contact-form input { height: 2em; }
.contact-form textarea { height: 6em; resize: none; }
.contact-form button { 
  background-color: #f00; 
  color: #fff; 
  border: 0; 
  padding: 0.75em;
}
.contact-img img { max-width: 100%; max-height: 90vh; }
.contact-img {
  width: 50%;
  transition: ease-in-out 750ms;
  transform: translate(-15vw,10vh);
}
.contact-img-active {
  transform: translateX(0);
}

/* Fix för att det ska se bättre ut på mindre enheter */
@media(max-width: 768px) {
  #cc-zero {
    height: 95vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
  }
  .cc-zero-text { grid-column: 1/4; }
  #contact { padding: 2em; }
  .contact-img { display: none; }
  .contact-form { width: 100%; }
}